﻿<div><br><br>
    <h2 id="1" class="ui header">1. Registo</h2><br>
    <h3 id="11" class="ui header">1.1. Tenho de estar registado no site para fazer a minha encomenda?</h3>
    <p>Não é necessário estar registado no site para conseguir fazer a sua reserva e encomenda. Basta clicar no botão
        “Comprar Livros Escolares” e iniciar a sua encomenda!</p><br><br>
    <h2 id="2" class="ui header">2. Reservas</h2><br>
    <h3 id="21" class="ui header">2.1. Como posso fazer a minha reserva?</h3>
    <p>Para iniciar uma reserva, efetue os seguintes passos:</p>
    <ol role="list" class="ui list">
        <li role="listitem" class="">Clique em “Comprar Livros Escolares”;</li>
        <li role="listitem" class="">Preencha os campos com os seus dados, escolha os Livros que pretende reservar e
            clique em “Comprar”;</li>
        <li role="listitem" class="">Selecione se pretende proteger os Livros com Encapamento e introduza o seu número
            de Cartão Continente ou Universo para usufruir de todos os descontos e vantagens;</li>
        <li role="listitem" class="">Escolha o local de entrega, que poderá ser em loja ou ao domicílio. Introduza os
            seus dados, incluindo o seu contacto telefónico (obrigatório), procedendo à validação do mesmo, através de
            um código de 4 dígitos que irá receber por SMS;</li>
        <li role="listitem" class="">Por fim, escolha o método de pagamento e clique em “Pagar”. A reserva será
            confirmada por SMS e email, sendo partilhado o número da sua reserva e dados de pagamento.</li>
    </ol><br>
    <h3 id="22" class="ui header">2.2. Ainda não tenho voucher MEGA. É possível fazer a reserva? </h3>
    <p>No caso de ainda não ter voucher MEGA é possível selecionar e reservar os seus Livros, concluindo a sua encomenda
        apenas quando receber os seus vouchers. Efetue os seguintes passos:</p>
    <ol role="list" class="ui list">
        <li role="listitem" class="">Vá a “Ainda não tem os seus vouchers Mega? Faça já a sua pré-reserva” e clique em
            “Quero reservar os meus livros”.; </li>
        <li role="listitem" class="">Preencha os campos com os seus dados e escolha os Livros que pretende reservar e
            clique em “Guardar Reserva”;</li>
        <li role="listitem" class="">Introduza o seu contacto telefónico e proceda à validação do mesmo, através de um
            código 4 dígitos que irá receber por SMS;</li>
        <li role="listitem" class="">Clique em “Guardar e Sair”, e esta será confirmada pelo envio de uma SMS e e-mail
            com o número da sua reserva.</li>
    </ol><br>
    <h3 id="23" class="ui header">2.3. O que posso fazer se receber o voucher MEGA depois de já ter efetuado encomenda?
    </h3>
    <p>Caso tenha efetuado a sua encomenda e recebido o voucher MEGA posteriormente, pode adicioná-lo à encomenda, como
        faria normalmente. Regularizaremos a devolução do valor pago inicialmente no mesmo meio de pagamento utilizado
        na encomenda.</p><br>
    <h3 id="24" class="ui header">2.4. Efetuei a minha reserva. Como a posso concluí-la? </h3>
    <p>Quando já tiver os vouchers MEGA na sua posse, para concluir a sua encomenda, deverá efetuar os seguintes passos:
    </p>
    <ol role="list" class="ui list">
        <li role="listitem" class="">Clique no botão “Gerir Reserva”. Introduza o contacto telefónico, o número da sua
            encomenda (que recebeu no SMS e e-mail de confirmação) e clique em “Iniciar Sessão”;</li>
        <li role="listitem" class="">Introduza os vouchers, preencha os campos sobre o Encapamento e escolha o método de
            entrega e de pagamento que pretende;</li>
        <li role="listitem" class="">Para finalizar a sua encomenda, clique no botão “Concluir”.</li>
    </ol><br>
    <h3 id="25" class="ui header">2.5. Fiz a reserva, mas afinal não tenho direito a voucher, como devo proceder?</h3>
    <p>Caso pretenda concluir a sua encomenda sem voucher deverá clicar no botão “Gerir Reserva” e proceder da seguinte
        forma:</p>
    <ol role="list" class="ui list">
        <li role="listitem" class="">Introduza o contacto telefónico, o número da sua reserva e clique em “Iniciar
            Sessão”;</li>
        <li role="listitem" class="">Preencha os campos sobre o Encapamento e insira o número do seu Cartão Continente
            ou Universo para usufruir dos descontos e vantagens associadas;</li>
        <li role="listitem" class="">Escolha o método de entrega e de pagamento que pretende;</li>
        <li role="listitem" class="">Para finalizar a sua encomenda, clique no botão “Concluir”.</li>
    </ol><br>
    <h3 id="26" class="ui header">2.6. Completei a minha reserva, mas não recebi confirmação?</h3>
    <p>Certifique-se que a reserva foi efetivamente concluída, clicando em ‘Gerir Reserva’. Verifique também se os dados
        introduzidos estão corretos. No caso de detetar algum erro pode retificar de imediato. Para qualquer questão
        adicional, p.f. contacte-nos através do formulário de contacto disponibilizado na página de contactos.</p><br>
    <h3 id="27" class="ui header">2.7. Como posso alterar a minha reserva?</h3>
    <p>Para alterar a sua reserva deverá clicar no botão “Gerir Reserva”. Introduza o contacto telefónico, o número da
        sua encomenda (que recebeu no SMS e e-mail de confirmação) e clique em “Iniciar Sessão” para ter acesso a todos
        os dados.</p><br>
    <h3 id="28" class="ui header">2.8. Como posso consultar o estado da minha Reserva?</h3>
    <p>Para consultar o estado da sua reserva, proceda da seguinte forma:</p>
    <ol role="list" class="ui list">
        <li role="listitem" class="">Clique em ‘Gerir Reserva’;</li>
        <li role="listitem" class="">Consulte o estado da sua Reserva.</li>
    </ol>
    <p>Como alternativa, pode clicar no botão “Acompanhar Reserva” que se encontra no email de confirmação da encomenda
        que lhe foi enviado. </p>
    <p><strong>ATENÇÃO: </strong>o processamento do seu pedido só poderá ser iniciado após ter concluído o pagamento (no
        método escolhido por si). No caso de uma reserva com vouchers MEGA, deverá garantir que os números dos vouchers
        estão devidamente associados.</p><br>
    <h3 id="29" class="ui header">2.9. Que produtos posso comprar?</h3>
    <p>Pode comprar os Livros Escolares (Manuais, Cadernos de Atividades, Dicionários e Gramáticas) válidos para este
        ano letivo. Poderá adicionalmente adquirir o restante material escolar em <a target="_blank"
            href="https://www.continente.pt" rel="noreferrer">continente.pt</a></p><br>
    <h3 id="210" class="ui header">2.10. Na mesma compra posso adquirir Livros Escolares com e sem voucher MEGA?</h3>
    <p>Sim, na mesma compra pode adquirir Livros Escolares com e sem voucher MEGA. Para tal, aquando da seleção dos
        Livros desejados, deverá adicionar o voucher MEGA referente ao livro selecionado e esse valor será descontado no
        preço a pagar.</p>
    <p>No caso da compra de Livros sem voucher MEGA, basta adicioná-los à lista e o valor do livro será acrescentado ao
        seu carrinho.</p><br>
    <h3 id="211" class="ui header">2.11. Na mesma compra posso adquirir Livros Escolares para mais do que um aluno?</h3>
    <p>Sim, na mesma compra consegue adquirir Livros Escolares para vários alunos. Para tal, basta clicar em “Adicionar
        aluno”, no topo da página, preencher os dados referentes ao mesmo e selecionar os Livros Escolares desejados.
    </p><br>
    <h3 id="212" class="ui header">2.12. Posso consultar a lista de Livros Escolares encomendados, por aluno?</h3>
    <p>Para facilitar a sua compra, disponibilizamos uma lista de livros adotados por escola / ano escolar. Para além
        disso, poderá consultar a lista de artigos encomendados, para cada aluno.</p><br>
    <h3 id="213" class="ui header">2.13. Onde posso ver o estado da minha encomenda?</h3>
    <p>Tem duas opções para consultar o estado da sua encomenda: Vá a <a href="https://livrosescolares.continente.pt"
            target="_blank" rel="noreferrer">continente.pt</a>, clique em “Gerir Reserva”, introduza o número de
        telefone e da reserva e clique em “Iniciar Sessão".</p>
    <p><strong>NOTA: </strong>Como alternativa, pode clicar no botão “Acompanhar Reserva” que está no seu email de
        confirmação da mesma. Será redirecionado para uma página onde consta toda a informação sobre a sua encomenda.
    </p><br>
    <h3 id="214" class="ui header">2.14. Posso cancelar a minha encomenda?</h3>
    <p>Sim, mas apenas até ao momento em que a mesma começa a ser preparada. Depois desta fase poderá, no entanto,
        proceder à devolução dos livros nos casos previstos.</p><br>
    <h3 id="214" class="ui header">2.15. As escolas da Madeira e Açores têm direito a vouchers Mega?</h3>
    <p>Os arquipélagos têm gestão de educação autónoma e, por isso, não estão incluídos no programa MEGA.</p><br><br>
    <h2 id="3" class="ui header">3. Pagamento</h2><br>
    <h3 id="31" class="ui header">3.1. Como se processa o pagamento e confirmação?</h3>
    <p>Após ter escolhido os Livros Escolares que pretende encomendar, proceda da seguinte forma:</p>
    <ol role="list" class="ui list">
        <li role="listitem" class="">Clique no botão “Comprar”;</li>
        <li role="listitem" class="">No primeiro passo do checkout comece por selecionar a morada de entrega em
            “Detalhes de Entrega”; <ol class="">
                <li role="listitem" class="">Caso pretenda receber a sua encomenda no seu domicílio, poderá fazê-lo
                    selecionando “Entrega ao Domicílio”;</li>
                <li role="listitem" class="">Se pretender levantar a sua encomenda na loja, clique em “Entrega em loja”
                    e selecione a loja pretendida;</li>
            </ol>
        </li>
        <li role="listitem" class="">Após escolher o método de entrega, valide o seu contacto telefónico através de um
            código de 4 dígitos que irá receber via SMS; </li>
        <li role="listitem" class="">Para continuar, clique em “Escolher Método de Pagamento” e selecione o método que
            pretender;</li>
        <li role="listitem" class="">Finalize a sua encomenda clicando em “Pagar” e confirmando o pagamento.</li>
    </ol><br>
    <h3 id="32" class="ui header">3.2. O valor apresentado é o valor que vou pagar?</h3>
    <p>Pagará sempre o valor que visualizar no site:</p>
    <ul class="list">
        <li class="content">No caso de ter direito a vouchers MEGA, esse valor será descontado quando estes forem
            adicionados;</li>
        <li class="content">A esse valor, será acrescentado o custo de Encapamento, caso opte por este serviço;</li>
        <li class="content">A esse valor será também acrescentado o custo de portes de envio, se a opção selecionada for
            a entrega ao domicílio (quando aplicável).</li>
    </ul><br>
    <h3 id="33" class="ui header">3.3. Tenho de pagar na totalidade ou posso pagar parcialmente?</h3>
    <p>O valor será cobrado na totalidade para todos os métodos de pagamento ou métodos de entrega.</p><br>
    <h3 id="34" class="ui header">3.4. Como posso alterar o método de pagamento?</h3>
    <p>Pode alterar imediatamente após ter escolhido o método de pagamento. Basta selecionar “Cancelar” e escolher o
        novo método de pagamento que pretende.</p><br>
    <h3 id="35" class="ui header">3.5. Que meios de pagamento posso utilizar?</h3>
    <p>Tem à sua disposição os seguintes meios de pagamento:</p>
    <ul class="list">
        <li class="content">Vouchers Mega;</li>
        <li class="content">Cartão de Crédito/Débito;</li>
        <li class="content">MBWay;</li>
        <li class="content">Referência MB.</li>
    </ul><br>
    <h3 id="36" class="ui header">3.6. Como é faturada a minha encomenda?</h3>
    <p>A sua encomenda será sempre faturada por aluno. Assegure que coloca sempre o NIF do(s) aluno(s) para posterior
        utilização do documento.</p>
    <p>Sempre que aplicável, a faturação será dividida em mais do que uma fatura:</p>
    <ul class="list">
        <li class="content">uma fatura referente à compra dos Livros Escolares;</li>
        <li class="content">uma fatura referente aos portes de envio e custos de Encapamento.</li>
    </ul>
    <p>Terá sempre a possibilidade de consultar as faturas no site. Poderá ainda solicitar uma segunda via das suas
        faturas de Livros Escolares, a qualquer momento.</p><br><br>
    <h2 id="4" class="ui header">4. Entregas</h2><br>
    <h3 id="41" class="ui header">4.1. Entregas em loja</h3><br>
    <h4 id="411" class="ui header">4.1.1. Como posso seguir a minha encomenda?</h4>
    <p>Pode clicar no botão “Acompanhar Reserva” que se encontra no email de confirmação da encomenda que lhe foi
        enviado.</p>
    <p><strong>NOTA:</strong> Após SMS/E-mail de disponibilização deverá proceder ao seu levantamento com a maior
        brevidade possível (na SMS/E-mail receberá informação sobre a data limite para o fazer).</p><br>
    <h4 id="412" class="ui header">4.1.2. Posso alterar o método de entrega em loja para entrega ao domicílio?</h4>
    <p>Não. Após selecionar o método de entrega não poderá proceder à sua alteração.</p><br>
    <h4 id="412" class="ui header">4.1.3. Posso alterar a loja onde vai ser entregue a encomenda?</h4>
    <p>Para alterar a loja de entrega deverá clicar no botão “Gerir Reserva” e efetuar os seguintes passos:</p>
    <ol role="list" class="ui list">
        <li role="listitem" class="">Introduza o contacto telefónico;</li>
        <li role="listitem" class="">Introduza o número da sua encomenda;</li>
        <li role="listitem" class="">Clique em “Iniciar Sessão”.</li>
    </ol>
    <p>Será redirecionado para uma página onde consta toda a informação sobre a sua encomenda e onde poderá alterar a
        loja de entrega, até a encomenda ser preparada. </p>
    <p><strong>NOTA: </strong>Após o início da preparação da encomenda já não será possível proceder a alterações à
        mesma.</p><br>
    <h3 id="42" class="ui header">4.2. Entregas ao domicílio</h3><br>
    <h4 id="421" class="ui header">4.2.1. Como posso seguir a minha encomenda depois de ser enviada?</h4>
    <p>Para seguir sua encomenda deverá clicar no link de rastreamento, que irá receber no seu e-mail por parte da
        transportadora (logo que a mesma seja enviada). Será redirecionado para uma página da transportadora onde consta
        toda a informação de seguimento da sua encomenda.</p><br>
    <h4 id="422" class="ui header">4.2.2. Como posso alterar a morada de entrega?</h4>
    <p>Para alterar a morada de entrega deverá clicar no botão “Gerir Reserva” e efetuar os seguintes passos:</p>
    <ol role="list" class="ui list">
        <li role="listitem" class="">Introduza o contacto telefónico;</li>
        <li role="listitem" class="">Introduza o número da sua encomenda; </li>
        <li role="listitem" class="">Clique em “Iniciar Sessão”.</li>
    </ol>
    <p>Será redirecionado para uma página onde consta toda a informação sobre a sua encomenda e onde poderá alterar a
        morada de entrega, até a encomenda ser preparada.</p>
    <p><strong>NOTA:</strong> Após o início da preparação da encomenda já não será possível proceder a alterações à
        mesma.</p><br>
    <h4 id="423" class="ui header">4.2.3. Posso alterar o método de entrega de domicílio para loja?</h4>
    <p>Não. Após selecionar o método de entrega não poderá proceder à sua alteração.</p><br>
    <h4 id="424" class="ui header">4.2.4. Quais são as áreas de entrega?</h4>
    <p>Efetuamos entregas em Portugal. Ao adicionar a sua morada, conseguirá confirmar a respetiva disponibilidade.</p>
    <br><br>
    <h2 id="5" class="ui header">5. Devoluções e Substituições</h2><br>
    <h3 id="51" class="ui header">5.1. É possível devolver uma encomenda?</h3>
    <p>É possível fazer a devolução da Encomenda nos seguintes casos:</p>
    <ol role="list" class="ui list">
        <li role="listitem" class="">Artigos danificados;</li>
        <li role="listitem" class="">Artigos não correspondentes à encomenda;</li>
        <li role="listitem" class="">Mudança de escola/manual adotado.</li>
    </ol><br>
    <h3 id="52" class="ui header">5.2. Como posso devolver?</h3>
    <p>Para devolver algum produto que tenha adquirido, basta dirigir-se a uma loja Continente. Deve levar consigo os
        produtos que deseja devolver, se possível, devidamente embalados, bem como uma cópia da fatura.</p><br>
    <h3 id="53" class="ui header">5.3. Como se realiza a devolução do montante pago?</h3>
    <p>O montante é reembolsado no momento da devolução através do mesmo meio de pagamento com que efetuou a sua
        Encomenda. A data de disponibilização efetiva do reembolso poderá depender de entidades terceiras.</p><br>
    <h3 id="54" class="ui header">5.4. É necessário embalar os Livros Escolares a devolver?</h3>
    <p>Preferencialmente, os Livros Escolares devem ser devolvidos, embalados na caixa em que foram entregues. Contudo,
        como a devolução é obrigatoriamente realizada em loja, caso já não consiga entregar com a caixa de origem, basta
        garantir que os mesmos estão em bom estado. </p><br><br>
    <h2 id="6" class="ui header">6. Encapamento</h2><br>
    <h3 id="61" class="ui header">6.1. Posso encomendar os Livros Escolares já encapados? </h3>
    <p>Sim, ao encomendar os seus Livros Escolares poderá recebê-los já encapados! Para isso terá de escolher o serviço
        de Encapamento durante a sua encomenda e selecionar os Livros que pretende encapar.</p><br>
    <h3 id="62" class="ui header">6.2. Como é feito o Encapamento?</h3>
    <p>Para Encapamento dos Livros Escolares são utilizadas bolsas de encapar com as seguintes caraterísticas:</p>
    <ul class="list">
        <li class="content">Fáceis de retirar para quem pretender dar ou devolver os Livros Escolares no final do ano
            letivo;</li>
        <li class="content">Certificadas em termos de segurança para uso infantil;</li>
        <li class="content">100% recicláveis;</li>
        <li class="content">Inodoras;</li>
        <li class="content">Resistentes à água e fáceis de higienizar;</li>
        <li class="content">Não deixam bolhas de ar.</li>
    </ul><br><br><br>
    <h2 id="plus-info" class="ui header">Mais informações</h2><br>
    <p><a href="https://continente.pt/loja-online/contactos/" target="_blank" rel="noreferrer"><strong>Contacto para
                esclarecimento de dúvidas</strong></a></p>
    <p>
    <p><a href="https://continente.pt/loja-online/politica-de-privacidade/" target="_blank"
            rel="noreferrer"><strong>Política de Privacidade</strong></a> e <a
            href="https://www.continente.pt/loja-online/politica-de-servicos/" target="_blank"
            rel="noreferrer"><strong>Termos e Condições</strong></a></p>
    </p><br>
</div>